/* variables */
$primory-color: #7b3f00;
$border-primory-color: #03a9f4;
$main-background-color: #fff6ef;

/* mixin */
@import "mixin.scss";

/* items */

.items-container {
  padding: 50px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* item cart */

.item-cart {
  margin-bottom: 30px;

  width: 280px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.link-item-cart-desc {
  /*position: absolute;*/
  /* top: -1000px;*/
  /* opacity: 0;*/

  text-decoration: none;
}

.item-cart-desc,
.item-title {
  @include font(20px, $primory-color);

  display: flex;
  justify-content: space-between;
}

.item-title {
  padding: 10px 20px;
}

.item-cart-desc {
  padding: 10px 20px;
  font-weight: 600;
}

.item-cart-img {
  width: 100%;
  height: 200px;

  background: url(../img/item-primary-school1.jpg) center no-repeat;
  background-size: 130%;

  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

@media (min-width: 420px) {
  .item-cart {
    width: 380px;
  }
}

@media (min-width: 620px) {
  .items-cart {
    padding: 0px 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-cart {
    margin: 10px;
    width: 500px;
  }
}

@media (min-width: 700px) {
  .item-cart {
    width: 310px;
    margin: 0px 20px 20px 0px;
  }
}

@media (min-width: 1100px) {
  .item-cart {
    width: 500px;
  }
}
